<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit Home Listing | StayOrbit</title>
  <link rel="stylesheet" href="/output.css" />
  <link rel="icon" href="/icon.png" />
</head>

<body class="bg-gradient-to-br from-emerald-100 to-teal-200">
  <%- include('../partials/loader.ejs') %>
    <div class="flex flex-col min-h-screen">
      <%- include('../partials/navbar.ejs') %>

        <div class="flex items-center justify-center min-h-screen p-6 bg-gradient-to-br from-emerald-100 to-teal-200">
          <form action="/host/update-home/<%= home._id %>" method="POST" enctype="multipart/form-data"
            class="w-full max-w-md p-8 space-y-6 bg-gradient-to-br from-green-50 to-teal-100 shadow-xl rounded-xl">
            <h3 class="text-2xl font-bold text-center text-emerald-800">
              Edit Home Listing
            </h3>

            <input type="text" name="homename" value="<%= home.homename %>"
              class="w-full px-4 py-2 bg-teal-100 text-emerald-900 placeholder-teal-600 border border-teal-200 rounded-md focus:outline-none focus:ring-2 focus:ring-emerald-50" />

            <input type="text" name="contactdetails" value="<%= home.contactdetails %>"
              class="w-full px-4 py-2 bg-teal-100 text-emerald-900 placeholder-teal-600 border border-teal-200 rounded-md focus:outline-none focus:ring-2 focus:ring-emerald-500" />

            <input type="text" name="location" value="<%= home.location %>" required
              class="w-full px-4 py-2 bg-teal-100 text-emerald-900 placeholder-teal-600 border border-teal-200 rounded-md focus:outline-none focus:ring-2 focus:ring-emerald-500" />

            <input type="number" name="price" value="<%= home.price %>" required
              class="w-full px-4 py-2 bg-teal-100 text-emerald-900 placeholder-teal-600 border border-teal-200 rounded-md focus:outline-none focus:ring-2 focus:ring-emerald-500" />

            <div>
              <label class="block mb-2 text-gray-700">AC Service available?</label>
              <div class="flex items-center space-x-4">
                <label class="flex items-center">
                  <input type="radio" name="ac_service" value="Yes" required <% if (home.ac_service==='Yes' ) { %>
                  checked <% } %>
                    class="mr-2 text-emerald-600 focus:ring-emerald-500"
                    />
                    <span class="text-emerald-800">Yes</span>
                </label>
                <label class="flex items-center">
                  <input type="radio" name="ac_service" value="No" required <% if (home.ac_service==='No' ) { %> checked
                  <% } %>
                    class="mr-2 text-emerald-600 focus:ring-emerald-500"
                    />
                    <span class="text-emerald-800">No</span>
                </label>
              </div>
            </div>

            <!-- Description Section -->
            <div>
              <label for="description" class="block mb-2 font-medium text-gray-700">
                Description
              </label>
              <textarea id="description" name="description" rows="4"
                placeholder="<%= home.description ? home.description : 'Describe your stay...' %>"
                class="w-full px-4 py-2 bg-teal-100 text-emerald-900 placeholder-teal-600 border border-teal-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-emerald-500"><%= home.description %></textarea>
            </div>

            <!-- Image Section -->
            <div>
              <label for="image" class="block text-sm font-semibold text-emerald-900 mb-2">
                Upload a Home Image
              </label>
              <input type="file" id="image" name="image" accept="image/jpg, image/jpeg, image/png"
                class="w-full mb-4 text-emerald-900 bg-teal-100 border border-emerald-200 rounded-md focus:outline-none focus:ring-2 focus:ring-emerald-500 cursor-pointer file:mr-4 file:py-2 file:px-4 file:rounded-md file:border file:border-emerald-300 file:bg-emerald-100 file:text-emerald-900 hover:file:bg-emerald-200 file:font-semibold file:text-sm" />
            </div>


            <button type="submit"
              class="w-full py-2 font-semibold text-white transition duration-200 bg-emerald-700 rounded-md hover:bg-emerald-800 hover:cursor-pointer">
              Update Home Details
            </button>
          </form>
        </div>

        <%- include('../partials/footer.ejs') %>
    </div>
    <script src="/js/loaderLogic.js"></script>
</body>

</html>